<div class="about">
  <div>
    <h2>Tassia Accioly</h2>
    <p>
      I'm a web dev and game dev beginner and currently am learning my way
      through code and looking for a job!
    </p>

    <p>You can reach me at:</p>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/tassiaaccioly">
      <img src="/images/linkedin.svg" alt="Tassia's LinkedIn" />
    </a>
    <a href="https://twitter.com/itsmetherogue">
      <img src="/images/twitter.svg" alt="Tassia's Twitter" />
    </a>
    <a href="https://www.github.com/tassiaaccioly">
      <img src="/images/github.svg" alt="Tassia's GitHub" />
    </a>
    <a href="https://tassiaaccioly.medium.com">
      <img class="medium" src="/images/medium.svg" alt="Tassia's LinkedIn" />
    </a>
    <a href="https://dev.to/tassiaaccioly">
      <img class="medium" src="/images/dev-dot-to.svg" alt="Tassia's Dev.to" />
    </a>
  </div>
</div>
